<div class="sidebar">
  <ul>
    <li><a class="nav-link" [routerLink]="['/mfe1/orderComponent/dashbordComponent']">
      Tableau de bord
    </a></li>
    <li><a class="nav-link" [routerLink]="['/mfe1/orderComponent/addworkflowComponent']" >
      Ajouter un workflow
    </a></li>
    <li><a class="nav-link" [routerLink]="['/mfe1/orderComponent/listworkflowComponent']">
      Liste des workflow 
    </a></li>
    <li><a class="nav-link" routerLink="">
      Ajouter un utilisateur
    </a></li>
    <li><a class="nav-link" routerLink="">
      Ajouter une règle
    </a></li>
    <li><a class="nav-link" routerLink="">
      Liste des utilisateurs
    </a></li>
    <li><a class="nav-link" routerLink="">
      Profile
    </a></li>
    <li><a class="nav-link" routerLink="">
      Aide
    </a></li>
  </ul>
</div>