<div class="flex justify-center items-center h-screen">
  <div class="container mx-auto">
    <div class="bg-white p-8 rounded-lg shadow-lg w-200 p-4">
      <div class="header text-xl mb-4">Ajouter une règle</div>
      <div class="box1">
      <input type="text" id="name" name="name" [(ngModel)]="rule.name" required placeholder="Nom de règle" class="mb-4">
      <input type="text" id="descrip"  name="description" [(ngModel)]="rule.description" required placeholder="Description de règle" class="mb-4">
              
      <div class="formule-container">
        <!-- Utilisez la balise <span> pour la formule -->
        <span class="formule">{{ Formule1 }}</span>
      </div>
      
      <!--Tableau de Object-->
      <div *ngIf="Objects && Objects.length > 0">
<div class="parametres-table-container">
  <table class="parametres-table">
    <thead>
      <tr>
        
        <th>Order</th>
        <th>Name</th>
        <th>Contenu</th>
        <th>type</th>
        <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of Objects; let i = index">
         
        <td>{{ i + 1 }}</td> <!-- Affichage de l'index + 1 comme ordre -->
        <td>{{ obj.name }}</td>
        <td>{{ obj.content }}</td>
        <td>{{ obj.type }}</td>
        <td>
          <button class="edit-button" (click)="openEditObjetDialog(obj)">Edit</button>
          <button class="delete-button" (click)="deleteObject(i,obj.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
                <div class="button-container1">
                  <button class="addObject1" (click)="onAddFormulaObjectClick()">Ajouter un objet</button>
                  
                  </div>




<!--modification-->
<div style="margin-top: 10px;"   style="margin-top: 10px;" *ngIf="showFormulaObjectInputs">

  <form action="/submit" method="post" class="adjust">
    <div class="grid-box3">
      
      <div style="margin-top: 10px;" class="box">
        
        <div class="flex mr-6">
          <label>Ajouter un Objet</label>
          
          <select id="selectObject" [(ngModel)]="selectedObjectType" (change)="onObjectTypeChange($event)" [ngModelOptions]="{standalone: true}">
            <option value="" disabled selected>Type d'objet</option>

            <option value="Operateur">Opérateur</option>
            <option value="Const">Constante</option>
            <option value="Var">Variable</option>
            <option value="Input">Saisir</option>
          </select>
        </div>
       
          
      <div *ngIf="selectedObjectType ==='Const'">
        <div>
          <input type="text" id="name" name="name" [(ngModel)]="ObjectDto.name" required placeholder="Nom d'objet">
        </div>

        <div>
          <input type="text" id="content" name="content" [(ngModel)]="ObjectDto.content" required placeholder="Contenu">
        </div>
        <div class="button-container">
          <button class="addObject" (click)="addObject()"  [disabled]="!ObjectDto.name || !ObjectDto.content ">Ajouter </button>
        </div>
      </div>
          
        <div *ngIf="selectedObjectType ==='Var'">
          <div>
            <input type="text" id="name" name="name" [(ngModel)]="ObjectDto.name" required placeholder="Nom d'objet">
          </div>

          <div>
            <input type="text" id="content" name="content" [(ngModel)]="ObjectDto.content" required placeholder="URl de variable">

           </div>
           <div *ngIf="Parametres && Parametres.length > 0">

                          <!--Tableau de Parameter-->
                          <div class="parametres-table-container">
                            <table class="parametres-table">
                              <thead>
                                <tr>
                                  <th>Order</th>
                                  <th>Name</th>
                                  <th>Contenu</th>
                                  <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let obj of Parametres; let i = index">
                                  <td>{{ obj.rank }}</td> <!-- Affichage de l'index + 1 comme ordre -->
                                  <td>{{ obj.name }}</td>
                                  <td>{{ obj.content }}</td>
                                  <td>
                                    <button class="edit-button" (click)="openEditParametreDialog(obj)" >Modifier</button>
                                    <button class="delete-button" (click)="deleteParametre(i)">Supprimer</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                          <div class="button-container1">
            
                            <button class="addFormula" (click)="onAddFormulaClick()">Ajouter des paramétres</button>
               
                          </div>

           <!--fin de tableau parametre-->
          <!--<div><button class="addFormula" (click)="AddObjet()">Enregistrer l'objet</button></div> -->
          <div class="button-container">
            <button class="addObject" (click)="addObjectWithParameter()"  [disabled]="!ObjectDto.name || !ObjectDto.content ">Ajouter </button>
          </div>


        </div>
          


          <!-- TODO : nom, contenue, ordre -->
          <div *ngIf="showFormulaInputs">
            <div style="margin-top: 10px;" class="box3">
              <form>
            <input type="text" id="name" name="name" [(ngModel)]="ParamDto.name" required placeholder="Nom de paramètre">
            <input type="text" id="content" name="content" [(ngModel)]="ParamDto.content" required placeholder="Contenu">
            <input type="text" id="rank" name="rank" [(ngModel)]="ParamDto.rank" required placeholder="ordre">

            <div class="button-container1">

              <button class="addFormula" (click)="AddParamteter()" [disabled]="!ParamDto.name || !ParamDto.content || !ParamDto.rank">Ajouter</button>
 
            </div>
              </form>
            </div>


              
          </div>


          <div *ngIf="selectedObjectType === 'Operateur'">
            <select id="content" [(ngModel)]="ObjectDto.content" name="content">
              <option value="" disabled selected>Type d'Operateur</option>
              <option value=">">></option>
              <option value="<"><</option>
              <option value="+">+</option>
            </select>

            <div class="button-container">
              <button class="addObject" (click)="addObject()" [disabled]="!ObjectDto.content ">Ajouter </button>
            </div>

          </div>

          <!--Input -->
          <div *ngIf="selectedObjectType === 'Input'">
            <select id="content" [(ngModel)]="ObjectDto.content" name="content">
              <option value="" disabled selected>Type d'saisir</option>
              <option value="text">text</option>
              <option value="number">number</option>
              <option value="Date">Date</option>
              
            </select>
            <div>
              <input type="text" id="name" name="name" [(ngModel)]="ObjectDto.name" required placeholder="Nom ">
            </div>

            <div class="button-container">
              <button class="addObject" (click)="addObject()" [disabled]="!ObjectDto.content ">Ajouter </button>
            </div>

          </div>
        
      
        
      </div>
    </div>

  </form>



  <div>
    <button class="align" ><a (click)="addRuleWithObjectstest()" >Enregistrer le régle</a></button>
    <button class="align"><a>Annuler</a></button>
     <!-- [disabled]="!Rule.ruleName||!Rule.description " -->


  </div>

</div>
<!--modification-->




        </div>
      <!--fin Rule-->











  </div>
</div>
</div>

