<div class="add-user-form">
    <h2>Ajouter un nouvel utilisateur</h2>
    <form>
        <div class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
        </div>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" id="email" name="email" [(ngModel)]="user.email"  required>
        </div>

        <div class="form-group">
            <label for="firstname">Nom :</label>
            <input type="text" id="firstname" name="firstname" [(ngModel)]="user.firstname"  required>
        </div>
        <div class="form-group">
            <label for="lastname">Prénom :</label>
            <input type="text" id="lastname" name="lastname" [(ngModel)]="user.lastname" required>
          </div>



                
                <div class="form-group">
                    <label for="roles">Rôles :</label>

                    <div class="roles-container">
                        <div class="role-checkbox" *ngFor="let role of roles">
                            <ng-container *ngIf="!role.status">

                          <input type="checkbox" id="{{role.id}}" name="roles" (change)="handleRoleChange($event, role)">
                          <label for="{{role.id}}">{{role.name}}</label>
                        </ng-container>

                        </div>
                    </div>

                </div>
        
    
        


<!-- 
          <div class="form-group">
            <label for="role">Rôle :</label>
            <select id="content" [(ngModel)]="user.roles" name="content">
              <option value="User">Utilisateur</option>
              <option value="Admin">Administrateur</option>
            </select>
            </div> -->

        
        <div class="button-group">
            <button type="button" class="add-button" (click)="addRole()">Ajouter</button>
            <button type="button" class="cancel-button">Annuler</button>
        </div>
    </form>
</div>