.navbar {
  background-color: #ffffff;
  color: #0c0c0c;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
  border-bottom: 1px solid #3131f7; /* Ajoute une bordure en bas */
  font-family: 'Arial', sans-serif; /* Utiliser une police de caractères plus standard */

  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list li a {
    color: #2916f5;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 18px; /* Taille de la police */
    font-weight: bold; /* Gras */
  }
  
  .nav-list li a:hover {
    color: #0015ff;
  }
  

  



  .nav-list {
    list-style: none; /* Supprime les puces de liste */
    padding: 0; /* Supprime la marge intérieure par défaut */
  }
  
  .nav-list li {
    display: inline-block; /* Affiche les éléments de liste sur une ligne */
    margin-right: 10px; /* Ajoute un espace entre les éléments de liste */
  }
  
  .nav-list li:last-child {
    margin-right: 0; /* Ne pas ajouter de marge à droite pour le dernier élément de liste */
  }
  
  .nav-list li a {
    text-decoration: none; /* Supprime la décoration de texte des liens */
    color: #080808; /* Couleur du texte des liens */
    padding: 15px 15px; /* Ajoute un espacement interne aux liens */
    border-radius: 5px; /* Arrondit les coins des liens */
  }
  

  