<nav class="navbar">


  <ul class="nav-list">
    <li><a  [routerLink]="['/mfe1/orderComponent/mfe-user/homeComponent/addUserComponent']">Ajouter un utilisateur</a></li>
    <li><a [routerLink]="['/mfe1/orderComponent/mfe-user/homeComponent/userListComponent']">Liste des utilisateurs</a></li>
    <li><a  [routerLink]="['/mfe1/orderComponent/mfe-user/homeComponent/addrolecomponent']">Ajouter un role</a></li>
    <li><a [routerLink]="['/mfe1/orderComponent/mfe-user/homeComponent/roleListComponent']">Liste des roles</a></li>
  </ul>
</nav>




<div >


    <router-outlet ></router-outlet>
  </div>