<div class="user-list">
    <h2>Liste des utilisateurs</h2>
    <table>
      <thead>
        <tr>
          <th>Nom d'utilisateur</th>
          <th>Email</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Rôles</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>

          <td>{{user.lastname}}</td>

          

          <td>{{user.firstname}}</td>
          <td> <h5 *ngFor="let role of user.roles"> {{role.name}}</h5>  </td>



      

          <td>
            <!-- <button class="roler" (click)="openRoleUserDialog(user.roles)" >Role</button> -->
            <button class="roler" (click)="openEditObjetDialog(user)"  >Éditer</button>
            
            <button class="delete" (click)="deleteUser(user.id)" >Supprimer</button>







          </td>
        </tr>
      </tbody>
    </table>
  </div>
  