<div class="dialog-container">
    <div class="dialog-content">
      <h2 class="dialog-title">Role  d'utilisateur</h2>
      



      <div class="user-list">
        
        <table>
          <thead>
            <tr>
              <th>Role</th>
              <th>Description</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Admin</td>
              <td>Administrateur</td>
          </tbody>
        </table>
      </div>
      





      <div class="buttons-container">
        <button class="cancel-button" mat-button (click)="onCancelClick()">fermée</button>
      </div>
    </div>
  </div>
  
