
<div class="flex justify-center items-center h-screen">
    <div class="container mx-auto">
      <div class="bg-white p-8 rounded-lg shadow-lg w-200 p-4">
        <div class="container">
            <div class="title-container">
                <h1 class="page-title">Liste des règles</h1>
            </div>
            <table>
            <thead>
                <tr>
                <th>Nom du règle</th>
                <th>Description</th>
                </tr>
            </thead>
            TODO :
            <tbody>
                <tr *ngFor="let Rule of RuleDto">
                <td>{{ Rule.ruleName }}</td>
                <td>{{ Rule.description }}</td>
                <td>
                    <!-- <button class="edit-button"(click)="nav(Rule.ruleId)" >Modifier</button>
                    <button class="delete-button" (click)="deleteRule(Rule.ruleId)">Supprimer</button> -->
<!-- TODDO : voir liste des objets -->
                    <button class="edit-button">Voir</button>

                    <button class="edit-button">appliquer</button>

                    <button class="delete-button">Supprimer</button>
                </td>
                </tr>
            </tbody>
            </table>
        
            <!-- <div class="pagination">
            <button *ngFor="let page of getPagesArray()" (click)="setPage(page)" [ngClass]="{ 'active': page === currentPage }">
                {{ page }}
            </button>
            </div> -->
        
        </div>
        </div>
  </div>
  
  